<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>

<body>
    <h1>
        <a href="/">Home</a>
        <a href="/addCustomerw5t2">Add new Task</a>
        <table>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Due Date
                </th>
                <th>
                    Description
                </th>
            </tr>
            <% for(let i=0; i<customer.length;i++){ %>
            <tr>
                <td>
                    <%= customer[i].taskName %>
                </td>
                <td>
                    <%= customer[i].taskDue %>
                </td>
                <td>
                    <%= customer[i].taskDesc %>
                </td>
            </tr>
            <%} %>
        </table>

    </h1>

</body>